<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/LifeCounter" version="1.0.0" viewmodes="maximized">
    <tizen:application id="0gVBbcFe5o.LifeCounter" package="0gVBbcFe5o" required_version="5.5"/>
    <author href="https://github.com/wedunsto" email="wedunsto@aggies.ncat.edu">William Dunston</author>
    <content src="index.html"/>
    <description>Life counter application for the Galaxy Watch</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="MTG.png"/>
    <name>LifeCounter</name>
    <tizen:profile name="wearable"/>
</widget>
